.search-bar {
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
  height: 40px;
  align-items: center;
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  border-radius: 15px;
  width: 220px;
}

.search-icon {
  padding: 5px;
  margin-right: 20px;
  cursor: pointer;
}

.pac-container {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 268px !important;
}

.pac-item {
  padding: 10px;
  cursor: pointer;
}

.pac-item:hover {
  background-color: #f4f4f4;
}

@media screen and (max-width: 1030px) {
  /* Render normally on PC but when on mobile, render only SearchIcon and when being clicked extend it to SearchBar */

  .search-bar {
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px;
    height: 32px;
    align-items: center;
  }

  .search-input {
    width: 100%;
  }
  .search-icon {
    margin-right: 16px;
    margin: center;
  }
  .pac-container {
    width: 100% !important;
  }
}
