.button {
	position: absolute;
	top: 20px;
	right: 20px;
}

h3 {
	text-align: center;
}

.items:hover {
	background-color: #ffeecc;
	cursor: pointer;
	padding: 5px;
}

.items_text {
	padding: 5px;
}

.list {
	padding-top: 0 !important;
}
